<%-include('header')%>
  <div class="pcoded-main-container">
    <div class="main-body">

      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb" >
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->

      <div class="row gutters-sm">
        <div class="col-md-4 mb-1">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="<%=profile.avatar%>" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>
                    <%=profile.name%>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h4>parents info</h4>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                name : <%=profile.father_name%>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                mobile no : <%=profile.father_phone%>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                qualification : <%=profile.edu_qualification_father%>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">GRID</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.grid %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.name%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.email%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Mobile</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.phone%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">course</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.cource%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.address%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Gender</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.gender%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">date of birth</h6>
                </div>


                <div class="col-sm-9 text-secondary">
                  <%=profile.dob%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">last institute</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.institute_name%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">student studying in</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.studyin%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">student fees</h6>
                </div>
                <div class="col-sm-9 text-secondary" >
                  <%=profile.fees%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">paid fees</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.paid_fees%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">pending fees</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%=profile.pending_fees%>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-info m-2" target="__blank" href="/update_addmission/<%=profile.id%>">Edit</a>
                  <button class="btn-info btn m-2" onclick="createPDF()">print</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  
<div class="body" id="ddd" style="">

  <div id="invoiceholder" >

    <div id="headerimage"></div>
    <div id="invoice" class="effect2">
      
      <div id="invoice-top" style="display: flex; justify-content: center; align-items: center;">
        
          <img src="/images/MME LOGO1 (1) copy.png" height="50px" alt="">
        
        <div class="info">
          <h2 style="font-size: 25px; color: #c7242e;" class="mt-2"> Multimedia <span style="color: #135597;">&</span> Education</h2>
        </div><!--End Info-->
      </div><!--End InvoiceTop-->
  
  
      
      <div id="invoice-mid">
        
        <div class="clientlogo"></div>
        <div class="info">
          <h2><%=profile.name %></h2>
          <p><%=profile.email%></br>
             555-555-5555</br>
        </div>
  
        <div id="project">
          <h2>Project Description</h2>
          <p>Proin cursus, dui non tincidunt elementum, tortor ex feugiat enim, at elementum enim quam vel purus. Curabitur semper malesuada urna ut suscipit.</p>
        </div>   
  
      </div><!--End Invoice Mid-->
      
      <div id="invoice-bot">
        
        <div id="table">
          <table>
            <tr class="tabletitle">
              <td class="item"><h2>Item Description</h2></td>
              <td class="Rate"></td>
              <td class="subtotal"></td>
              <td class="subtotal"><h2>Sub-total</h2></td>
            </tr>
            
            <tr class="service">
              <td class="tableitem" colspan="3"><p class="itemtext" >fees paid</p></td>
        
              <td class="tableitem"><p class="itemtext"><%=profile.paid_fees%></p></td>
            </tr>
            
          
            
            
           
            
            
            
            
              
            <tr class="tabletitle">
              <td></td>
              <td></td>
              <td class="Rate"><h2>Total :</h2></td>
              <td class="payment"><h2><%=profile.paid_fees%></h2></td>
            </tr>
            
          </table>
        </div><!--End Table-->
        
      </div><!--End InvoiceBot-->
    </div><!--End Invoice-->
  </div><!-- End Invoice Holder-->

</div>
  

<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);
* {
  margin: 0;
  box-sizing: border-box;
}
.body {
  background: #e0e0e0;
  font-family: "Roboto", sans-serif;
  background-image: url("");
  background-repeat: repeat-y;
  background-size: 100%;
}
::selection {
  background: #f31544;
  color: #fff;
}
::moz-selection {
  background: #f31544;
  color: #fff;
}
.body h1 {
  font-size: 1.5em;
  color: #222;
}
.body h2 {
  font-size: 0.9em;
} 
.body h3 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
.body p {
  font-size: 0.7em;
  color: #666;
  line-height: 1.2em;
}

.body #invoiceholder {
  width: 100%;
  hieght: 100%;
  padding-top: 50px;
}
.body #headerimage {
  z-index: -1;
  position: relative;
  top: -50px;
  height: 350px;
  background-image: url("http://michaeltruong.ca/images/invoicebg.jpg");

  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),
    inset 0 -2px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),
    inset 0 -2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),
    inset 0 -2px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-attachment: fixed;
  background-size: 1920px 80%;
  background-position: 50% -90%;
}
.body #invoice {
  position: relative;
  top: -290px;
  margin: 0 auto;
  width: 700px;
  background: #fff;
}

[id*="invoice-"] {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid #eee;
  padding: 30px;
}

.body #invoice-top {
  min-height: 120px;
}
.body #invoice-mid {
  min-height: 120px;
}
.body #invoice-bot {
  min-height: 250px;
}

.body .logo {
  float: left;
  height: 60px;
  width: 60px;
  /* background: url(/images/MME\ LOGO1\ \(1\).png); */
  background-size: 60px 60px;
}
.body .clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(<%=profile.avatar%>) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}
.body .info {
  display: block;
  float: left;
  margin-left: 20px;
}
.body .title {
  float: right;
}
.body .title p {
  text-align: right;
}
.body #project {
  margin-left: 52%;
}
.body table {
  width: 100%;
  border-collapse: collapse;
}
.body td {
  padding: 5px 0 5px 15px;
  border: 1px solid #eee;
}
.body .tabletitle {
  padding: 5px;
  background: #eee;
}
.body .service {
  border: 1px solid #eee;
}
.body .item {
  width: 50%;
}
.body .itemtext {
  font-size: 0.9em;
}

.body #legalcopy {
  margin-top: 30px;
}
.body form {
  float: right;
  margin-top: 30px;
  text-align: right;
}

.body .effect2 {
  position: relative;
}
.body .effect2:before,
.effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.body .effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.body .legal {
  width: 70%;
}

</style>

  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/html2pdf.js/0.9.1/html2pdf.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.1/html2pdf.bundle.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
 function createPDF() {
            var element = document.getElementById('ddd');
            html2pdf(element, {
                margin:1,
                padding:0,
                filename: 'myfile.pdf',
                image: { type: 'jpeg', quality: 2080 },
                html2canvas: { scale: 2,  logging: true },
                jsPDF: { unit: 'in', format: 'A3', orientation: 'P' },
                class: createPDF
            });
        };
  </script>
  <%-include('footer')%>